body {
    background-color: rgba(87, 144, 219, 0.76);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0.363);
}

