*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;

}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 200px;
    background-color: black;
}

header{
    padding: 20px 0;
    background-color: rgb(10, 10, 10);
}    

.menu{ 
    width: 50%;
    background-color: rgb(14, 13, 13);   
}

.menu a{
    color: rgb(247, 244, 244);
    background-color: black;
    
}

img{
    border-radius: 100%;
    width: 50%;
}


section{
    color: rgb(214, 52, 52);
}

